:root {
  --main-color: #242424;
  --main-text-color: black;
  --main-bg-color: #fff;
  --main-hover-color: gray;
  --main-hightlight-color: #af7414;
  --main-font: "IBM Plex Sans Arabic", "Roboto", sans-serif;
  --main-font-light: 400;
  --main-font-normal: 500;
  --main-font-bold: 700;
  --main-font-size: 1.7rem;
  --main-border-radius: 0.25rem;
  --main-transition: all 0.3s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-size: var(--main-font-size);
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}
a:hover {
  color: var(--main-hover-color);
}

.code {
  font-weight: var(--main-font-bold);
  color: var(--main-hightlight-color);
}

.video {
  margin: 2rem 0;
}
.b {
  font-weight: var(--main-font-bold);
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
}

/* Container Content */

.container-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem;
  width: 80vw;
}

.container-content h1 {
  font-size: 3rem;
  font-weight: var(--main-font-bold);
  margin-bottom: 1rem;
}

.container-content p {
  font-size: 1.7rem;
  font-weight: var(--main-font-light);
  margin-bottom: 2rem;
}

.container-content .discount {
  font-size: 1.7rem;
  font-weight: var(--main-font-bold);
  color: var(--main-hightlight-color);
  margin-bottom: 2rem;
}

.container-content ul {
  list-style: outside;
  padding: 2rem 4rem;
}

.container-content ul li {
  font-size: 1.7rem;
  font-weight: var(--main-font-light);
  margin-bottom: 2rem;
}

.container-content .content__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
}

.container-content .button--primary {
  margin: 1rem;
  padding: 1rem 2rem;
  border: 1px solid var(--main-color);
  border-radius: var(--main-border-radius);
  background-color: var(--main-color);
  color: var(--main-bg-color);
  font-size: 1.5rem;
  font-weight: var(--main-font-bold);
  transition: var(--main-transition);
}
.container-content .button--primary:hover {
  background-color: var(--main-bg-color);
  color: var(--main-color);
}

.container-content .button--secondary {
  margin: 1rem;
  padding: 1rem 2rem;
  border: 1px solid var(--main-color);
  border-radius: var(--main-border-radius);
  background-color: var(--main-bg-color);
  color: var(--main-color);
  font-size: 1.5rem;
  font-weight: var(--main-font-bold);
  transition: var(--main-transition);
}
.container-content .button--secondary:hover {
  background-color: var(--main-color);
  color: var(--main-bg-color);
}

/* Content Table */

.container-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 20vw;
}

.container-table .table {
  border: 1px solid var(--main-color);
  border-radius: var(--main-border-radius);
  padding: 1rem 3rem;
  width: 100%;
}

/* Responsive */

@media screen and (max-width: 1200px) {
  .wrapper {
    flex-direction: column-reverse;
  }
  .container-content {
    width: 100%;
  }
  .container-table {
    width: 100%;
  }
  .container-content ul {
    padding: 2rem 2rem;
  }
}
